

@media (max-width: 380px) {
  .card-container > * {
    width: 100%;
    max-width: calc(50% - 10px);
    margin-right: 2px;
    margin-bottom: 2px;
    height: 300px; /* Set fixed height on desktop */
  }
  .card-container > *:nth-child(2n) {
    margin-right: 0;
  }
  .title {
    font-size: 1.2rem;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .CardContent > p {
    font-size: 14px; /* Adjust the font size as desired */
  }
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.MuiButtonBase-root:hover {
  /* Existing styles */

  /* Add animation styles */
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.MuiPaper-root {
  width: 100%;
  max-width: calc(50% - 10px);
  margin-bottom: 2px;
  height: 200px; /* Set a fixed height for desktop */
  width: 600px;
}

.card-container > .MuiPaper-root,
.card-container > .MuiButtonBase-root {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

@media (min-width: 375px) {
  .card-container > .MuiPaper-root,
  .card-container > .MuiButtonBase-root {
    width: calc(100% - 10px);
    margin-bottom: 20px;
  }
}

@media (min-width: 390px) {
  .card-container > .MuiPaper-root,
  .card-container > .MuiButtonBase-root {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .card-container > .MuiPaper-root:nth-child(2n + 1),
  .card-container > .MuiButtonBase-root:nth-child(2n + 1) {
    margin-right: 0;
  }
}



@media (max-width: 768px) {
  body {
    position: fixed;
    width: 100%;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .footer {
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .search-form input[type="text"] {
    width: 100%;
  }

  #searchbox {
    width: 300px;
    margin-left: -10px;
  }

  #searchButton {
    margin-left: 0;
    margin-top: 2px;
  }
}

:root {
  --primary-bg: #e8f5e9;
  --input-bg: #a5d6a7;
  --btn-bg: #66bb6a;
  --btn-hover: #558b62;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--primary-bg);
  margin: 0;
  padding: 0;
  overflow: auto; /* Allow scrolling */
}

/* Center the search bar and the cards container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  padding: 20px;
}

/* Styling for the search bar */
.search-form {
  background-color: var(--input-bg);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#searchbox {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 10px 15px;
  border: none;
  border-radius: 20px 0 0 20px;
  width: 250px;
  outline: none;
  font-size: 16px;
  background-color: var(--input-bg);
}

#searchButton {
  margin-left: -1px; /* To overlap with the input's border */
}

#searchButton button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: var(--btn-bg);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#searchButton button:hover {
  background-color: var(--btn-hover);
}

/* Styling for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  overflow-y: auto;
  padding: 40px;
  gap: 20px; /* Space between cards */
}
.Card {
  background: var(--card-bg); /* Use the gradient background */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space between cards */
}

.Card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.CardHeader {
  background-color: var(--btn-bg); /* Use the button background color for card header */
  color: #fff;
  padding: 15px;
  font-size: 0.9rem;
  font-weight: bold;
}

.CardContent {
  padding: 15px;
  color: var(--card-text); /* Use the dark green color for card text */
  /* background-color: ; */
}

.CardContent img {
  margin: 10px 0;
  width: 80%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  object-fit: cover;
  border: black;
}